.main{
  height: 100%;
  width: 100%;
  color: $cell-text-color;
  box-sizing: border-box;
  background-color: $page-bg;
  overflow-x: hidden;  /* 防止ios出现横向滚动轴 */
  font-family: PingFang SC, Helvetica Neue, Arial, sans-serif;
}

.g-card{ // 卡片圆角背景块
  background-color: #fff;
  border-radius: 14rpx;
  min-height: 100rpx;
  width: 100%;
  padding: 18rpx;
  box-sizing: border-box;
  margin-bottom: 20rpx;
}

.g-btn-hover-scale {
  opacity: 0.8;
  transform: scale(0.99);
}
.g-btn-hover {
  background-color: $hover;
}

.g-btn-hover2 {
  &::after {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    background-color: #555;
    border: inherit;
    border-color: #555;
    border-radius: inherit;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0.15;
    content: ' ';
  }
}

.g-badge {
  position: absolute;
  right: 5px;
  top: 0;
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  box-sizing: border-box;
  padding: 1px 3px 0 3px;
  min-width: 16px;
  line-height: 14px;
  border: 1px solid #fff;
  border-radius: 16px;
  background-color: #f44;
  -webkit-transform: translateX(50%);
  transform: translateX(50%);
  -webkit-transform-origin: 100%;
  transform-origin: 100%;
}

.g-badge-sm {
  position: absolute;
  right: 5px;
  top: 0;
  color: #fff;
  font-size: 10px;
  min-width: 12px;
  height: 12px;
  line-height: 12px;
  text-align: center;
  border-radius: 50%;
  padding: 1px;
  background-color: #f44;
  border: 1px solid #fff;
}

.g-operations {
  background-color: #fff;
  .item {
    padding: 3.2vw 2.8vw;
    font-size: 3.6vw;
    color: #333;
    border-radius: 14rpx;
    @include g-bottom-border(10px);
    display: flex;
    justify-content: space-between;
  }
  .item:last-child {
    &::after {
      border: none;
    }
  }
}

.g-footer-btn-main {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  .btn {
    height: $g-footer-btn-height;
    font-size: 36rpx;
    line-height: $g-footer-btn-height;
    text-align: center;
    color: #fff;
    background-color: $theme;
    position: relative;
  }
}

.g-popup-main {
  $popup-radius: 12rpx;
  width: 630rpx;
  background-color: #fff;
  border-radius: $popup-radius;
  .header {
    height: 100rpx;
    padding: 0 60rpx;
    line-height: 100rpx;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: #333;
  }
  .container {
    padding: 20rpx;
  }
  .footer {
    height: 100rpx;
    padding: 0 20rpx;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-bottom-right-radius: $popup-radius;
    border-bottom-left-radius: $popup-radius;
    background-color: #f4f4f4;
  }
}

